.header-input {
  text-align: center;
  margin-top: 100px;
  font-size: 3em;
  height: 8vh;
  box-shadow: none;
  background-color: transparent;
  padding-left: 0;
}

.header-input::placeholder {
  font-size: 0.8em;
}

.input-container {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  /* width: 25vw; */

  overflow: auto;
}

.input-container input {
  width: 10vw;
}

.input-container select {
  width: 10vw;
}

.input-container input.num-input {
  width: 3.5vw;
}

.property-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  gap: 1px;
}

.control-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-size: 1.2em;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 5px;
}

