.Home-subContainer {
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: -120px;
  height: 70vh;
}

.Home-subContainer + .Home-subContainer {
  margin-left: var(--m);
}

.settings-button {
  position: fixed;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  transition: transform 0.2s;
}

.settings-button:hover {
  transform: scale(1.3);
}

.floor {
  background-image: url("../../../assets/floor.svg");
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -5;
  width: 100vw;
  height: 30vh;
  bottom: 0px;
}

.plant {
  position: absolute;
  z-index: 5;
  width: 12vw;
  height: auto;
  left: 26vw;
  bottom: 8vh;
}

.backpack {
  position: absolute;
  z-index: 5;
  width: 6vw;
  height: auto;
  left: 33vw;
  bottom: 5vh;
}
