.Home-subContainer {
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: -120px;
}

.Home-subContainer + .Home-subContainer {
  margin-left: var(--m);
}

.settings-button {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.floor {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: auto;
  margin-top: 0px; 
}

