/* Fill me in :) */

.u-flex-centerButton {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 8vh;
  left: 42vw;
}

.homeImage {
  position: absolute;
  width: 33%;
  left: 34vw;
  bottom: 17vh;
}
