@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.text-container {
  background-color: #c69b84;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 17px !important;
  border-style: none;
  border-radius: 10px;
  width: 45vw;
  height: 20vh;
  padding: 10px;
  overflow: auto;
}

.text-container::-webkit-scrollbar-track {
  background-color: #ddbba5;
  border-radius: 10px;
}

.text-container::-webkit-scrollbar-thumb {
  background-color: var(--tertiary);
  border-radius: 10px;
}

.text-container::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
