.closetIcon-container {
  position: absolute;
  bottom: 10vh;
  width: 30vw;
  height: 53vh;
  left: 2vw;
}

.closet-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 130%;
  height: auto;
  transition: opacity 0.3s ease;
}

.closet-closed {
  opacity: 1;
}

.closet-open {
  opacity: 0;
}

.closetIcon-container:hover .closet-open {
  opacity: 1;
}
