.ClothingCard {
  position: relative;
  z-index: 9005;
  width: calc(0.2 * 0.9 * (100vw - 20vh));
  height: calc(1.2 * 0.2 * 0.9 * (100vw - 20vh));
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(181, 128, 89, 58);
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  overflow: hidden;
}

.ClothingCard img {
  width: 95%;
  height: 95%;
  object-fit: contain;
  position: absolute;
}

/* .CardContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center;
  z-index: 2;
} */
